.page{
    padding : 20px 20px 25px 20px;
}

.page h3{
    margin-top : 0;
}

.choice{
    margin: 0;
    padding: 0;
}

.choice li{
    list-style-type: none;
    margin: 0 0 4px 20px;
}

.intro h4{
    margin-bottom : 0;
}
.intro p{
    margin-top : 3px;
}

pre.code{
    background: rgb(196, 196, 196);
    padding: 10px;
    border-radius: 3px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    border: 1px solid rgb(163, 163, 163);
}

.installer{
    background : #272727;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height : 250px;
    position : relative;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.installer .title {
    color: rgb(182, 182, 182);
    font-family: Arial;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgb(10, 10, 10);
}

.installer .log{
    position : absolute;
    left : 20px;
    top : 60px;
    right : 20px;
    bottom : 20px;
    background : #153649;
    padding : 20px 20px 40px 20px;
    overflow : auto;
    color : #fff;
    line-height: 1.4em;
    font-family : Ubuntu Mono, Menlo, Consolas, monospace;
    font-size : 12px;
    margin : 0;
    
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px);
    background-image: -moz-linear-gradient(top,rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px);
    background-image: linear-gradient(top,rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0.11) 8px, rgba(0, 0, 0, 0.01) 13px, transparent 15px);
    
    border : 1px solid white;
    border-color : rgba(255,255,255,0.06) rgba(0,0,0,0.3) rgba(0,0,0,0.3) rgba(255,255,255,0.06);
    box-shadow : 1px 0 0 rgba(255,255,255,0.06), 0 1px 0 rgba(255,255,255,0.06), 
        -1px 0 0 rgba(0,0,0,0.3), 0 -1px 0 rgba(0,0,0,0.3);
}

.installer .log .output{
    display : none;
    color : gray;
    margin : 10px;
}

.installer .log.details .output{
    display : block;
}

.installer .log .error{
    color : orange;
}

.installer .cb{
    position: absolute;
    top: 40px;
    right: 21px;
}

.installer .cb label{
    font-family: Arial;
    font-size: 12px;
    color: #f1f1f1;
}

.installer .progress{
    position: absolute;
    left: 35px;
    bottom: 40px;
    font-family: arial;
    font-size: 12px;
    color: white;
    padding-left: 20px;
}
.installer .progress span{
     width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    left: 4px;
    top: -1px;
}